// Custom common variables
@import '../app-variables';

.tab-title{
    font-size: 35;
    color:$grey-light;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 30;
}