<StackLayout>
<GridLayout rows="auto,*" columns="*">
    <GridLayout row="0" class="navigation" rows="auto" columns="80%, *, 80%" *ngIf="!isSettingsForm">
        <Button row="0" col="0" class="secondary-button" text="Back" (tap)="goBack()"></Button>
        <Button row="0" col="2" class="secondary-button" text="Next" [isEnabled]="isNextEnabled()" (tap)="goNext(currentSignUpStep+1)"></Button>
    </GridLayout>
    <ScrollView row="1" orientation="vertical">

        <StackLayout >
            <GridLayout [formGroup]="nameForm" class="wrapper" *ngIf="currentSignUpStep == signupSteps.name || isSettingsForm" rows="auto,30, auto,auto, auto, auto, auto, auto, auto, auto" >
                <Label row="0" class="stepTitle" text="Your Name"></Label>

                <Label row="2" class="field-label" text="First Name"></Label>
                <TextField row="3" formControlName="firstName" [(ngModel)]="user.firstName" required autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="4" class="validation-message" 
                [visibility]="nameForm.controls.firstName.invalid ? 'visible': 'hidden'" text="* Required"></Label>

                <Label row="6" class="field-label" text="Last Name"></Label>
                <TextField row="7" returnKeyType="next" formControlName="lastName" required [(ngModel)]="user.lastName" autocorrect="false"
                    autocapitalizationType="none" (returnPress)="goNext(signupSteps.email)"></TextField>
                <Label row="8" class="validation-message" 
                [visibility]="nameForm.controls.lastName.invalid ? 'visible': 'hidden'" text="* Required"></Label>
            </GridLayout>

            <GridLayout [formGroup]="emailForm" class="wrapper" rows="auto,30, auto, auto, auto" *ngIf="currentSignUpStep == signupSteps.email || isSettingsForm">

                <Label row="0" col="0" class="stepTitle" text="Your Email"></Label>
  
                <Label row="2" class="field-label" text="Email"></Label>
                <TextField pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                    row="3" col="0" formControlName="email" returnKeyType="next" required keyboardType="email" [(ngModel)]="user.email"
                    autocorrect="false" autocapitalizationType="none" (returnPress)="goNext(signupSteps.phone)"></TextField>
                <Label row="4" class="validation-message" [visibility]="emailForm.invalid ? 'visible': 'hidden'"
                    text="* Required and should be name@company.com"></Label>

            </GridLayout>


            <GridLayout [formGroup]="passwordForm" *ngIf="currentSignUpStep == signupSteps.password || isSettingsForm" class="wrapper"
                rows="auto,30, auto, auto, auto, auto, auto, auto, auto">
            
                <Label row="0" col="0" class="stepTitle" text="Create a password"></Label>
            
                <Label row="2" class="field-label" text="Password"></Label>
                <TextField row="3" col="0" formControlName="password" required minlength="6" returnKeyType="next" secure="true" hint="Password"
                    [(ngModel)]="user.password" autocorrect="false" autocapitalizationType="none" ></TextField>
                <Label row="4" class="validation-message" [visibility]="passwordForm.controls.password.invalid ? 'visible': 'hidden'" text="* Required and must be at least 6 chars"></Label>
                
                <Label row="5" class="field-label" text="Confirm Password"></Label>
                <TextField row="6" col="0" [(ngModel)]="passwordConfirm" formControlName="passwordConfirm" 
                required minlength="6" returnKeyType="next" secure="true" hint="Password" autocorrect="false" autocapitalizationType="none" 
                (returnPress)="goNext(signupSteps.companyInfo)"></TextField>
                <Label row="7" class="validation-message" [visibility]="passwordForm.controls.passwordConfirm.value != passwordForm.controls.password.value ? 'visible': 'hidden'" text="* Password must match"></Label>
            </GridLayout>

            <GridLayout [formGroup]="phoneForm" *ngIf="currentSignUpStep == signupSteps.phone || isSettingsForm" class="wrapper" rows="auto,30, auto, auto, auto">

                <Label row="0" col="0" class="stepTitle" text="Your Phone"></Label>

                <Label row="2" class="field-label" text="Phone"></Label>
                <TextField row="3" col="0" formControlName="phone" required pattern="^[1-9]\d{2}-\d{3}-\d{4}$" returnKeyType="next" keyboardType="phone"
                    hint="123-456-7890" [(ngModel)]="user.phone" autocorrect="false" autocapitalizationType="none"
                    (returnPress)="goNext(signupSteps.password)"></TextField>
                <Label row="4" class="validation-message" [visibility]="phoneForm.invalid ? 'visible': 'hidden'"
                    text="* Required and format should be 123-123-1234"></Label>
            </GridLayout>

            <GridLayout [formGroup]="companyInfoForm" *ngIf="currentSignUpStep == signupSteps.companyInfo || isSettingsForm" class="wrapper" rows="auto, 30, auto, auto, auto, auto, auto, auto, auto, auto, auto">

                <Label row="0" class="stepTitle" text="Company Info"></Label>

                <Label row="2" class="field-label" text="Company Name"></Label>
                <TextField row="3" col="0" formControlName="companyName" required returnKeyType="next"  [(ngModel)]="supplier.name"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="4" class="validation-message" [visibility]="companyInfoForm.controls.companyName.invalid ? 'visible': 'hidden'"
                    text="* Required"></Label>

                <Label row="5" class="field-label" text="Company Email"></Label>
                <TextField pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                    row="6" col="0" formControlName="companyEmail" returnKeyType="next" required keyboardType="email" [(ngModel)]="supplier.companyEmail"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="7" class="validation-message"  [visibility]="companyInfoForm.controls.companyEmail.invalid ? 'visible': 'hidden'"
                    text="* Required and should be name@company.com"></Label>

                <Label row="8" class="field-label" text="Company Phone"></Label>
                <TextField row="9" col="0" formControlName="companyPhone" required pattern="^[1-9]\d{2}-\d{3}-\d{4}$" returnKeyType="next" keyboardType="phone"
                    [(ngModel)]="supplier.companyPhone" autocorrect="false" autocapitalizationType="none"
                    (returnPress)="goNext(signupSteps.pickupDetails)"></TextField>
                <Label row="10" class="validation-message" [visibility]="companyInfoForm.controls.companyPhone.invalid ? 'visible': 'hidden'"
                    text="* Required and should be 123-123-1234"></Label>

            </GridLayout>

            <GridLayout [formGroup]="pickupDetailsForm" *ngIf="currentSignUpStep == signupSteps.pickupDetails || isSettingsForm" class="wrapper" 
            rows="auto, 30, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto"
                columns="80, *">

                <Label row="0" colSpan="2" class="stepTitle" text="Pickup Details"></Label>

                <Label row="2" colSpan="2" class="field-label" text="Address"></Label>
                <TextField row="3" colSpan="2" formControlName="pickupAddress1" required returnKeyType="next" [(ngModel)]="supplier.pickupAddress.street1"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="4" colSpan="2" class="validation-message" [visibility]="pickupDetailsForm.controls.pickupAddress1.invalid ? 'visible': 'hidden'"
                    text="* Required"></Label>

                <Label row="5" colSpan="2" class="field-label" text="Suite # / Floor"></Label>
                <TextField row="6" colSpan="2" formControlName="pickupAddress2" returnKeyType="next"  [(ngModel)]="supplier.pickupAddress.street2"
                    autocorrect="false" autocapitalizationType="none"></TextField>

                <Label row="7" colSpan="2" class="field-label" text="City"></Label>
                <TextField row="8" colSpan="2" formControlName="pickupCity" required returnKeyType="next" [(ngModel)]="supplier.pickupAddress.city"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="9" colSpan="2" class="validation-message"  [visibility]="pickupDetailsForm.controls.pickupCity.invalid ? 'visible': 'hidden'"
                    text="* Required"></Label>
                
                <Label row="10" colSpan="2" class="field-label" text="State"></Label>
                <TextField row="11" colSpan="2" formControlName="pickupState" required returnKeyType="next" [(ngModel)]="supplier.pickupAddress.state"
                    autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="12" colSpan="2" class="validation-message"  [visibility]="pickupDetailsForm.controls.pickupState.invalid ? 'visible': 'hidden'"
                    text="* Required"></Label>
                    
                    <Label row="13" colSpan="2" class="field-label" text="Zip"></Label>
                    <TextField row="14" colSpan="2" minLength="5" pattern="^\d{5}$|^\d{5}-\d{4}$" formControlName="pickupZip" keyboardType="phone" required
                    returnKeyType="next" [(ngModel)]="supplier.pickupAddress.zip" autocorrect="false" autocapitalizationType="none"></TextField>
                <Label row="15" colSpan="2" textWrap="true" class="validation-message" [visibility]="pickupDetailsForm.controls.pickupZip.invalid ? 'visible': 'hidden'"
                    text="* Required can either be 12345 (zip) or 55555-4444 (zip+4)"></Label>

                <Label row="16" colSpan="2" colSpan="2" class="contact-title" text="Contact Person for Pickups"></Label>
                <Switch row="17" col="0" checked="{{ isPickupSame }}" (checkedChange)="samePerson($event)"></Switch>
                <Label row="17" col="1" class="contact-switch-label" text="I'm the contact person for pickups"></Label>

                <Label row="18" colSpan="2" class="field-label" text="Contact Full Name"></Label>
                <TextField row="19" colSpan="2" formControlName="pickupName" [(ngModel)]="supplier.pickupName" required
                    autocorrect="false" autocapitalizationType="none" [isEnabled]="!isPickupSame"></TextField>
                <Label row="20" colSpan="2" class="validation-message"  [visibility]="pickupDetailsForm.controls.pickupName.invalid ? 'visible': 'hidden'"
                    text="* Required"></Label>

                <Label row="21" colSpan="2" class="field-label" text="Contact Phone"></Label>
                <TextField row="22" colSpan="2" formControlName="pickupPhone" required pattern="^[1-9]\d{2}-\d{3}-\d{4}$" returnKeyType="next" keyboardType="phone"
                     [isEnabled]="!isPickupSame" [(ngModel)]="supplier.pickupPhone" autocorrect="false"
                    autocapitalizationType="none" (returnPress)="goNext(signupSteps.teamUrl)"></TextField>
                <Label row="23" colSpan="2" class="validation-message"  [visibility]="pickupDetailsForm.controls.pickupPhone.invalid ? 'visible': 'hidden'"
                    text="* Required and should be 123-123-1234"></Label>
            </GridLayout>

            <GridLayout [formGroup]="slugForm" *ngIf="currentSignUpStep == signupSteps.teamUrl || isSettingsForm" class="wrapper" rows="auto,30, auto, auto, auto">

                <Label row="0" class="stepTitle" text="Create a Team Url"></Label>

                <Label row="2" class="contact-title" textWrap="true" text="This will be used by other team members to sign into your team"></Label>
                <TextField row="3"  formControlName="slug" required minlength="4" returnKeyType="next" hint="leblumFlowers" [(ngModel)]="supplier.slug"
                    autocorrect="false" autocapitalizationType="none" pattern="^[a-zA-Z0-9]+$" (returnPress)="goNext(signupSteps.agreeToTerms)"></TextField>
                <Label row="4" class="validation-message" textWrap="true" [visibility]="slugForm.invalid ? 'visible': 'hidden'" text="* Required and must be at least 4 chars.  Only letters and numbers are allowed. No spaces. No punctuation."></Label>
            </GridLayout>

            <GridLayout [formGroup]="termsForm" *ngIf="currentSignUpStep == signupSteps.agreeToTerms" class="wrapper" rows="auto,30, auto, auto, auto, auto" columns="80,*">
                    
                <Label row="0" colspan="2" class="stepTitle" text="Terms and Conditions"></Label>

                <Label row="2" colSpan="2" textWrap="true" class="contact-title" text="By Clicking I agree you agree to our Terms and conditions"></Label>
                <Switch row="3" col="0" checked="{{ isTermsAgreedTo }}" (checkedChange)="termsAgreedCheckChanged($event)"></Switch>
                <Label row="3" col="1" class="contact-switch-label" textWrap="true" text="I agree to the terms and conditions."></Label>
                <Button row="4" colSpan="2" class="submit-button" text="Terms And conditions" (tap)="openTermsAndConditions()" ></Button>

            </GridLayout>
            <Button class="submit-button" *ngIf="isSettingsForm" text="Save" (tap)="save()"></Button>
            <GridLayout rows="300,auto">

            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
<ActivityIndicator busy="{{ isBusy }}" width="100" height="100"></ActivityIndicator>
</StackLayout>