@import 'settings.component';

// Place any CSS rules you want to apply only on Android here
TabView {
    tab-text-color: $grey-dark;
    selected-tab-text-color: $grey-dark;
    android-selected-tab-text-color: $grey-dark;
    android-selected-tab-highlight-color: $item-active-color;
}

Label{
    margin-left: 20;
    margin-bottom: 10;
  }
  

  .field-label{
    font-size: 20;
    opacity: .7;
    margin-bottom: -2;
}