// Colors
$background-dark: #F8F8F8 !default;
$background-light: #FFFFFF !default;
$text-light: #FFFFFF;
$alert-color: rgb(0, 150, 150);

$grey-dark: #252525 !default;
$grey-light: #747474 !default;
$grey-50: rgba($grey-dark, 0.5) !default;
$grey-20: rgba($grey-dark, 0.2) !default;
$grey-10: rgba($grey-dark, 0.1) !default;
$validation-message: $alert-color;
$switch-color: $alert-color;

$accent-dark: #5C5C5C !default;
$accent-light: #C9C9C9 !default;

$success-dark: #06CE6A !default;
$success-light: #00E676 !default;

$warning-dark: #f39c11 !default;
$warning-light: #F2C112 !default;

$error-dark: #D84039 !default;
$error-light: #ED473F !default;

$midnight-dark: #0F336D !default;
$midnight-light: #14418B !default;

$night-dark: #023141 !default;
$night-light: #01526C !default;

$page-icon-color: #D7D7D7 !default;

// Sizes
$button-height: 36 !default;
$small-button-height: 28 !default;

$page-content-placeholder-font-size: 20;

/**
 * Theme variables overrides
 **/

// ActionBar
$ab-background: $accent-dark;
$ab-color: $background-light;

$item-active-color: $accent-dark;
$item-active-icon-color: $accent-dark;
$item-active-background: $background-dark;