@import '../../_app-variables.scss';

Image {
  margin-top:30;
  margin-bottom: 20;
}

Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 20;
}

TextField{
  border-bottom-color: $grey-dark;
  border-bottom-width: 2;
}

Label{
  margin-left: 20;
  margin-bottom: 10;
}

Switch{
  margin-bottom: 10;
  margin-left:-5;
  margin-top:-5;
}
